<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>jandcode-web</servlet-name>
        <!--<servlet-class>jandcode.web.JcServlet</servlet-class>-->
        <servlet-class>jeduapp.main.filter.CustomServlet</servlet-class>
        <init-param>
            <param-name>app.rt</param-name>
            <param-value>app.rt</param-value>
        </init-param>
        <init-param>
            <param-name>log</param-name>
            <param-value>_log.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>jandcode-web</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/showerror</location>
    </error-page>

    <filter>
        <filter-name>corsFilter</filter-name>
        <filter-class>jeduapp.main.filter.SimpleCorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.url</param-name>
            <param-value>/api/</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>mb-ajax,content-type</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>corsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
